export(qs_save)
export(qs_read)
export(qd_save)
export(qd_read)
export(qx_dump)
export("zstd_compress_raw")
export("zstd_decompress_raw")
export("blosc_shuffle_raw")
export("blosc_unshuffle_raw")
export("qs_to_rds")
export("rds_to_qs")
import(stringfish)
importFrom(Rcpp,evalCpp)
useDynLib(qs2, .registration = TRUE)