export(qs_save)
export(qs_read)
export(qs_serialize)
export(qs_deserialize)
export(qs_savem)
export(qs_readm)
export(qd_save)
export(qd_read)
export(qd_serialize)
export(qd_deserialize)
export(qx_dump)

export(qopt)

export(qs_to_rds)
export(rds_to_qs)

export(zstd_compress_file)
export(zstd_decompress_file)

export(zstd_compress_raw)
export(zstd_decompress_raw)
export(zstd_compress_bound)
export(blosc_shuffle_raw)
export(blosc_unshuffle_raw)
export(xxhash_raw)

export(base85_decode)
export(base85_encode)
export(base91_decode)
export(base91_encode)
export(catquo)
export(decode_source)
export(encode_source)

import(stringfish)
importFrom(Rcpp,evalCpp)
useDynLib(qs2, .registration = TRUE)
